HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### properties ###
application-local.yaml
application-local.yml
application-deploy.yaml
application-deploy.yml
application-secret.yaml
application-secret.yml
application-staging.yml
application-staging.yaml

docker/db/

other/genti-sbl-iam_accessKeys.csv

genti-keypair.pem

README_PRIVATE.md

### docker 환경설정

/docker/.env

# Include all other .env files
!**/.env

logs/

docker/docker-compose.yml
/docker/.env
