version: '3.8'

services:
  db:
    image: mysql
    container_name: mysql
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - ${MYSQL_BINDING_PORT}:${MYSQL_PORT}
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - ${MYSQL_DATA_LOCAL}:${MYSQL_DATA_CONTAINER}
      - ${MYSQL_CONFIG_LOCAL}:${MYSQL_CONFIG_CONTAINER}
      - ${MYSQL_INIT_LOCAL}:${MYSQL_INIT_CONTAINER}

  redis:
    image: redis:7.2.4
    container_name: redis
    ports:
      - ${REDIS_BINDING_PORT}:${REDIS_CONTAINER_PORT}
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ${REDIS_DATA_PATH}:/data
      - ${REDIS_DEFAULT_CONFIG_FILE}:/usr/local/etc/redis/redis.conf
